{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [["transform-runtime", {
    "polyfill": false,
    "regenerator": true
  }], "external-helpers", "babel-plugin-transform-object-rest-spread"]
}
